{
  "presets": [
      ["env", {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }],
  ],
  "plugins": [
  	"external-helpers",
  	"syntax-dynamic-import"
  ]
}
