/* stylelint-disable-next-line selector-type-no-unknown */
loader-spinner {
    display: block;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);

    & > svg > .spinner {
        box-sizing: border-box;
        stroke: #673ab7;
        stroke-width: 3px;
        transform-origin: 50%;
        animation:
            loader-spinner-line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
            loader-spinner-rotate 1.6s linear infinite;
    }
}

@keyframes loader-spinner-rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(450deg);
    }
}

@keyframes loader-spinner-line {
    0% {
        stroke-dasharray: 2, 85.964;
        transform: rotate(0);
    }

    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        transform: rotate(90deg);
    }
}
