{
  "presets": [
    ["env", {
      "useBuiltIns": true,
      "targets": {
        "browsers": [
            "IE 9",
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Edge versions",
            "last 2 Safari versions",
            "last 2 Android versions",
            "last 2 ChromeAndroid versions",
            "last 2 iOS versions",
            "last 2 ExplorerMobile versions"
        ]
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", { "exclude": ["**/*/main.test.js", "**/*.spec.js"]}]
      ]
    }
  }
}
